.App{
    background-color: #f6f6f6;
    color: #0d1d2c;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
    padding-top: 3rem;
    font-family: Montserrat;
}

.topSection{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.container{
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: #fff;
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.resultSection{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.expenseBox{
    width: 135px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    border-radius: 5px;
    border: 1px solid #ccc;
    height: 50px;
    padding: 1rem;
}

.expenseBox span{
    font-weight: bold;
    color: green;
}

.btn{
    outline: none;
    padding: 0.5rem 1rem;
    background-color: #EDE9FE;
    color: #6d28D9;
    border-radius: 5px;
    border: 1px solid #6d28D9;
    cursor: pointer;
}

.btn--primary{
    color: #fff;
    background-color: #6d28D9;
    border: none;
    padding: 0.8rem 1rem;
}

.cancel{
    background-color: #fff;
    color: #DC2626;
    border: 1px solid #DC2626;
}

form {
    display: flex;
    flex-direction: column;
    min-height: 150px;
    justify-content: space-between;
    margin-bottom: 2rem;
}

input {
    border: 1px solid #ccc;
    padding: 1rem 1.2rem;
    outline: none;
    border-radius: 5px;
}

input[type="radio"]{
    margin-left: 1rem;
}

.radioBox{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.4rem;
}

.radioBox label{
    margin-left: 0.3rem;
    font-size: 1.4rem;
}

.transaction{
    border-radius: 5px;
    background-color: #f4f4f5;
    padding: 1rem;
    margin-top: 1rem;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    border-right: 4px solid green;
}